<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta</title>
    <link rel="icon" type="image/png" href="img/Favicon.png">
</head>
<body>
    <h1>devolucion venta</h1>
    <h2>Empleado: <%=empleado.NOMBRE%></h2>
    <h2>Cargo: <%=empleado.CARGO%></h2>
</body>
</html>